html
{
    height: 100vh;
}

body
{
    margin:0;
    background-color: hsl(217, 54%, 11%);
    text-align: center;
    color:hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-size:1.1rem;
}

.main
{
    background-color: hsl(216, 50%, 16%);
    margin:5% 41% 5%;
    width: 18%;
    border-radius: 5%;
}


@media (max-width:992px) {
    .main{
        width:40%; 
        margin:5% 30%   
    }
}

@media (max-width:576px) {
    .main{
        width:80%;    
        margin:5% 10%;
    }
}

.imgs 
{
    width:90%;
    border-radius: 5%;
    margin: 5%;
}

.heading
{
    font-size:1.4rem;
    color:#fff;
    margin-bottom:4%;
}

p
{
    line-height: 1.2rem;
}

.content 
{
    text-align: left;
    padding-left:5%;
}

.etf 
{
    text-align: left;
}

.time 
{
    text-align: right;
}

hr 
{
    width:90%;
    margin-left: 5%;
    margin-right:5%;
}

.heading:hover
{
    color:cyan;
}

.s:hover 
{
    color:cyan;
}

.col
{
    position: relative;
    display: inline-block;
    padding-bottom: 5%;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 5%;
}

.logo 
{
    width:12%;
    margin-right:4%;
}

